# Prerequisites
*.d

# Object files
*.o
*/mk/*

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# qt-creator
*.config
*.cflags
*.cxxflags
*.creator*
*.files
*.includes
